<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payspp - Oct 2024</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .label{
            font-size: 12px;
        }
        .input{
            font-size: 13px;
        }
    </style>
</head>

<body class="w-[793.7007874px] h-[1122.519685px] bg-white pl-[96px] pr-[66px]  py-[66px] flex gap-10 flex-col shadow-lg font-medium">

    <!-- PAY SLIP -->
    <p class="font-bold text-[14px]">PAY SLIP FEBRUARY 2025</p>

    <!-- SAN ENGINEERING SOLUTIONS -->

    <div class="flex justify-between items-center">

        <div>
            <p class="font-bold text-[12px] ">SAN ENGINEERING SOLUTIONS</p>
            <p class="text-[11px] ">No. 29/3, KUBERALAKSHMI TOWERS, 3<sup>rd</sup> FLOOR,<br> OPP TO POST OFFICE, BUNGALOW
                STREET,<br>PERUNDURAI – 638 052, ERODE DIST., TAMILNADU</p>
        </div>
        <img src="../public/logo.png" class="h-[80px]" />

    </div>


    <!-- Employee Details -->
    <div>
        <p class=" label text-gray-700">NAME OF EMPLOYEE : <span class=" font-semibold text-black uppercase">Gandhi
                </span></p>
        <hr class="my-2 border-black">

        <div class="grid">

            <div class="grid grid-cols-4 gap-4 pl-2 text-sm">
                <div>
                    <p class="text-gray-700 label">Employee ID </p>
                    <p class="font-semibold text-black input uppercase">Se001</p>
                </div>

                <div>
                    <p class="text-gray-700 label">Date of Joined</p>
                    <p class="font-semibold text-black input">21-05-2028</p>
                </div>
                <div>
                    <p class="text-gray-700 label">Department</p>
                    <p class="font-semibold text-black input">Civil Manager</p>
                </div>
                <div>
                    <p class="text-gray-700 label">Job Title </p>
                    <p class="font-semibold text-black input">Manager</p>
                </div>


            </div>
            <hr class="my-2 border-black ">


            <div class="grid grid-cols-4 gap-4 pl-2">
                <div>
                    <p class="text-gray-700 label">Payment Mode</p>
                    <p class="font-semibold text-black input">Online</p>
                </div>

                <div>
                    <p class="text-gray-700 label">Name of the Bank </p>
                    <p class="font-semibold text-black input">Bank</p>
                </div>
                <div>
                    <p class="text-gray-700 label">Bank IFSC</p>
                    <p class="font-semibold text-black input uppercase">IFSC0098</p>
                </div>
                <div>
                    <p class="text-gray-700 label">Bank Account No.</p>
                    <p class="font-semibold text-black input">5655116</p>
                </div>
            </div>
            <hr class="my-2 border-black ">

            <div class="grid grid-cols-4 pl-2 gap-4">
                <div>
                    <p class="text-gray-700 label">UAN Number</p>
                    <p class="font-semibold text-black input">UAN2321U001</p>
                </div>

                <div>
                    <p class="text-gray-700 label">ESIC Number</p>
                    <p class="font-semibold text-black input">456544564ESI001</p>
                </div>
                <div>
                    <p class="text-gray-700 label">PAN Number</p>
                    <p class="font-semibold text-black input uppercase">FDF564HG</p>
                </div>
                <div>
                    <p class="text-gray-700 label">Aadhaar Number</p>
                    <p class="font-semibold text-black input">5515 2565 5485</p>
                </div>
            </div>
        </div>
        <hr class="my-2 border-black">

    </div>

    <!-- SALARY DETAILS -->
    <div>
        
        <p class="text-xs font-bold">SALARY DETAILS</p>

        <hr class="my-2  border-black">
        <div class="grid grid-cols-4 pl-2 gap-4">
            <div>
                <p class="text-gray-700 label">Actual Payable Days </p>
                <p class="font-semibold text-black input">2</p>
            </div>
            <div>
                <p class="text-gray-700 label">Total Working Days</p>
                <p class="font-semibold text-black input">28</p>
            </div>
            <div>
                <p class="text-gray-700 label">Loss of Pay Days</p>
                <p class="font-semibold text-black input">0</p>
            </div>
            <div>
                <p class="text-gray-700 label">Days Payable</p>
                <p class="font-semibold text-black input">28</p>
            </div>

        </div>

        <hr class="my-2  border-black">



        <div class="flex gap-20 items-start pl-2 my-3 text-[12px]">
            <!-- Earnings -->
                <table>
                    <tr>
                        <td colspan="2"><h1 class="font-bold">EARNINGS</h1></td>
                    </tr>
                    <tr>
                        <td class="pl-10">Basic : </td>
                        <td class="px-3">8700</td>
                    </tr>
                    <tr>
                        <td class="pl-10">HRA : </td>
                        <td class="px-3">1300</td>
                    </tr>
                    <tr>
                        <td class="pl-10">Conveyance Allowance : </td>
                        <td class="px-3">0</td>
                    </tr>
                    <tr>
                        <td>Total Earnings ( A ) : </td>
                        <td class="input px-3 font-bold">10000</td>
                    </tr>
                </table>
            
                <table>
                    <!-- contribution -->
                    <tr>
                        <td colspan="2"><h1 class="font-bold">CONTRIBUTION</h1></td>
                    </tr>
                    <tr>
                        <td class="pl-10">EPF Employer : </td>
                        <td class="px-3">1200</td>
                    </tr>
                    <tr>
                        <td class="pl-10">ESI Employer : </td>
                        <td class="px-3">600</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Total Contribution ( B ) : </td>
                        <td class="input px-3 font-bold">1800</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <!-- taxes & contribution -->
                    <tr>
                        <td colspan="2"><h1 class="font-bold">TAXES & CONTRIBUTION</h1></td>
                    </tr>
                    <tr>
                        <td class="pl-10">Salary Advance : </td>
                        <td class="px-3">0</td>
                    </tr>
                    <tr>
                        <td class="pl-10">TDS : </td>
                        <td class="px-3">0</td>
                    </tr>
                    <tr>
                        <td class="pl-10">Other Deductions : </td>
                        <td class="px-3">0</td>
                    </tr>
                    <tr>
                        <td>Total Taxes & Deductions ( C ) : </td>
                        <td class="input px-3 font-bold">0</td>
                    </tr>
                </table>
        </div>

        <div class="bg-gray-200 w-full p-5 mt-4 text-[14px]">
            <div class="flex gap-2 mb-2">
                <p class="">Net Salary Payable ( A – B – C ) : </p>
                <p class="font-bold">20000 INR /-</p>
            </div>
            <div class="flex gap-2">
                <p class=""> Net Salary in Words : </p>
                <p class="font-bold">Twenty Thousand Rupees only</p>
            </div>
        </div>
    </div>


    <!--Note :  -->
    <div class="flex gap-10 text-[13px]">
        <p>Note :</p>
        <ol class="list-decimal">
            <li> All amount displayed in this pay-slip are INR.</li>
            <li>This is computer generated statement, does not require signature</li>
            <li>HR Help Desk – <a href="tel:+917418969679">+91 74189 69679</a></li>
        </ol>
    </div>
</body>

</html>